{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contacts{% endblock%}

{% block body %}
    <header>
        <h1>Contacts</h1>
    </header>
    <article>
        <p>Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
            amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
            Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue .</p>
    </article>
{% endblock %}